.loading{
    color: #b0b0b0;
}
body{
    overflow-x: hidden;
}
.movieDetail{
    color: #b0b0b0;
}
.film{
    margin: 30px 20px;
    width: 120px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    overflow: hidden;
}
.image{
    width: 100%;
}
.backdrop{
    display: none;
    width: 100%;
}
hr{
    color: #b0b0b0;
    width: 100%;
    position: absolute;
    top: 200px;
    left: 140px;
}
.info{
    margin-left: 10px;
}
table{
    background-color: black;
    width: 160px;
    border-collapse: collapse;
}
td{
    border: 1px solid #b0b0b0;
    padding: 8px;
}
.detail{
    position: absolute;
    top: 220px;
    left: 200px;
}
.buttons{
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.later{
    background-color: #b0b0b0;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}
.like{
    background-color: #ff3131;
    border: none;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}
.title{
    color: #e0e0e0;
    margin-bottom: 10px;
    /* vertical-align: middle; */
}
.related{
    margin: 30px 0;
}
.similar{
    margin: 30px 0;
}
.similarContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    width: 130px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}